*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content:center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  width: 1140px;
  display: flex;
  /*margin: 133px 30px;*/
  align-items: end;
}

.result {
  display: inline-block;
  margin-right: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 1fr 1fr;
  align-items:start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6.5px;
  max-height: 54px;
  width: 100%;
}

.search-form__label {
  display: flex;
  /*не работает flex-direction: row;*/
  gap: 5px;
  align-items: center;
 }

.search-form__textfield {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  color: #fff; 
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  width: 100%;
  padding-left: 0;
  appearance: none; /*Так в разных браузерах будут нужные вам стили*/
}

/*.search-form__textfield:focus {
  border-top: transparent;
  border-bottom: transparent;
}

.search-form__label:has(:focus-visible) {
  outline: 1 px solid #fff;
  outline-offset: 2px;
  border-radius: 0;
}*/

.search-form__textfield::placeholder {
  color:rgb(255 255 255 / 0.7);
  letter-spacing: -0.1px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  /*display: block;*/
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  /*margin: 0 1px;*/
}

.search-form__pseudo-checkbox:after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  opacity: 1;            
}

/*label:hover > span {
  text-decoration: underline;
}*/

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

/*.search-form__label:focus-visible {
  /*border: 1px solid white;
  outline: 1px solid #fff;
  outline-offset: 1px;
  padding: 0 1px;
}*/

.button {
  width: 100%;
  height: 34px;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #504C4C;
  text-decoration: none;
}

.button:focus-visible {
  border: none;
  outline: 3px double #fff;
  text-decoration: none;
}

.search-form__submit-button {
  max-width: 194px;
  align-self: end;
  justify-self: end;
}

.content__details {
  /*display: inline-block;*/
  width: 100%;
  height: 100%;
  /*display: flex;
  flex-direction: column;*/
}

.title {
  padding-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color:rgb(255 255 255 / 0.2);
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 399px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color:#fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
 /*это задано в ТЗ но они не влияют ни на что визуально*/ 
  align-items: flex-start;
  justify-content: space-between;  
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
  padding-top: 1px;
}

.content__video-card-description-container {
  flex-grow: 1;
  /*width: 196px;
  flex-basis: 0;
  как будто бы не нужны*/
  overflow: hidden;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card:focus {
  border: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  border-radius: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничивает текст тремя строками */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right top;
}


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
